<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!-- Alias a la interface del lector de RSS -->
    <typeAlias alias="IRssReader" type="UTN.FRCU.ISI.Taller.TPFinal.Model.IRssReader, UTN.FRCU.ISI.Taller.TPFinal.Model" />

    <!-- Alias a la implementación específica del lector de RSS. -->
    <typeAlias alias="RssReader" type="UTN.FRCU.ISI.Taller.TPFinal.Model.RawXmlRssReader, UTN.FRCU.ISI.Taller.TPFinal.Model" />
    <!--<typeAlias alias="RssReader" type="UTN.FRCU.ISI.Taller.TPFinal.Model.SyndicationFeedRssReader, UTN.FRCU.ISI.Taller.TPFinal.Model" />-->
  </typeAliases>
  <container>
    <!-- Mapeo de referencias -->
    <register type="IRssReader" mapTo="RssReader">
      <lifetime type="singleton"/>
    </register>
  </container>
</unity>
